body{
    background-color: #faebd7;
}

h1{
    color:#8a2be2;
}

h2{
    color: #0000ff;
}

.p1{
    color: #d2691e;
}

.p2{
    color: #8b0000;
}

.li1{
    color: #00008b;
}

.li2{
    color: #1e9cd2;
}

.li3{
    color: #ff00ae;
}

.li4{
    color: #00fbff;
}

.li5{
    color: #8dd21e;
}